* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #F8F7FF;
  color: #2F2A3A;
}

.app {
  min-height: 100vh;
  padding: 40px;
}

header {
  text-align: center;
  padding: 40px;
  background: linear-gradient(
  135deg,
  #B8A4FF,
  #A9D8FF
);
  border-radius: 25px;
  margin-bottom: 40px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #2F2A3A;
}

header p {
  font-size: 18px;
  color: #4A435A;
}


.products {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 25px;
}


.card {
  background: white;
  border-radius: 25px;
  padding: 25px;
  text-align: center;

  box-shadow:
    0 10px 25px rgba(142,125,190,0.15);

  transition: transform 0.3s ease;
}


.card:hover {
  transform: translateY(-8px);
}


.bottle {
  font-size: 60px;
  margin-bottom: 15px;
}


.price {
  color: #8E7DBE;
  font-size: 22px;
  font-weight: bold;
}


button {
  margin-top: 15px;
  border: none;

  background: #6C4AB6;
  color: white;

  padding: 12px 25px;
  border-radius: 30px;

  cursor: pointer;
  font-size: 15px;
}


button:hover {
  background: #56389A;
}

.card h2 {
  color: #241F2F;
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  color: #4A435A;
}

.price {
  color: #6F5FA8;
  font-size: 22px;
  font-weight: bold;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  position: absolute;
  right: 0;

  background: white;
  color: #6C4AB6;
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

button:disabled {
  background: #8BC48A;
  cursor: default;
}